* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    font-family: 'Play', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 300px;
    background-color: white;   
    padding: 10px; 
    border-radius: 10px;
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    height: 100px;
    background-color: black;
    box-shadow: inset 2px 2px 2px 2px darkgray;
    width: 100%;
}

.display {
   width: 95%;
   color: lightgray;
}

.calc {
    margin-right: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: auto;
    font-size: 25px;
    box-shadow: inset 2px 2px 2px 2px darkgray;
    background-color: lightgray
}

.btn:hover {
    opacity: 0.5;
    box-shadow: 2px 1px black;
}

.divide, .multiply, .subtract, .add, .equals, .backspace {
    background-color: gold;
    box-shadow: inset 2px 2px 2px 2px goldenrod;
}

.clear, .negative, .percent {
    background-color: lightseagreen;
    box-shadow: inset 2px 2px 2px 2px seagreen;
}

footer p {
    color: white;
    padding: 5px;
}